<div class="main-container">

<mat-carousel
  timings="1000ms ease-in"
  [autoplay]="true"
  interval="5000"
  color="primary"
  maxWidth="auto"
  proportion="30"
  slides="5"
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="false"
  [useKeyboard]="false"
  [useMouseWheel]="false"
  orientation="ltr"
>
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="slide"
    overlayColor="#00000040"
    [hideOverlay]="true"
    class="slide-text-container">
</mat-carousel-slide>
</mat-carousel>

<mat-card class="card">
  <mat-card-content>

    <div>
      <img class="right-aligned-image" src="assets/beach_bridge.jpg" alt="Knugen picture" width="20%">
      <h3>
        Title 1
      </h3>
      <p>
        Text.
      </p>
      <p>
        More text.
      </p>
      <h3>
        Title 2
      </h3>
      <p>
        Text.
      </p>
      <h3>
        Bic
      </h3>
      <p>
        Check src/app/home/home.component.scss for the custom-h4 class to modify it. You can do the same with parahraphs.
        If you set margin-left to 4% for example, you will get in-dented text.
      </p>
      <ul>
        <li>This is a list example.</li>
        <li>The ul-tag stands for unordered list.</li>
        <li>There is also an ol-tag for ordered lists</li>
      </ul>
      <div class="centered-image">
        <img class="image-border" src="assets/beach_bridge.jpg" alt="Knugen picture" width="30%">
        <p class="image-caption">This is an image of an image of a bridge.</p>
      </div>
      <p>
        <span style="font-weight:bold;">
          This is an example of bold text.
        </span>
        Note that you can both style directly in the tag like this example code, or you can
        style properly in the .scss file. In this example we can style directly in the tag since we're only setting the font
        weight to bold, which makes it convinient. You can also set the font weight to other stuff like italics. Google it.
      </p>
       <div class="row centered-image">
        <div class="column">
          <img class="image-border" src="assets/beach_bridge.jpg" alt="Knugen picture" width="100%">
        </div>
        <div class="column">
          <img class="image-border" src="assets/beach_bridge.jpg" alt="Knugen picture" width="100%">
        </div>
        <div class="column">
          <img class="image-border" src="assets/beach_bridge.jpg" alt="Knugen picture" width="100%">
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>


</div>
