<mat-toolbar class="mat-elevation-z1" color="primary">
  <div class="toolbar-content">
    <span class="title-span">Olof's Consulting</span>
    <nav class="toolbar-nav-buttons">
      <button mat-button color="accent" routerLink="/home">Home</button>
      <button mat-button color="accent" routerLink="/serviecs">Services</button>
      <button mat-button color="accent" routerLink="/statistics">Statistics</button>
      <button mat-button color="accent" routerLink="/why">Why it's needed</button>
      <button mat-button color="accent" routerLink="/contact">Contact</button>
      <button mat-button color="accent" routerLink="/about">About</button>
    </nav>
  </div>
</mat-toolbar>
