@import "../../styles.scss";

.transparent {
  background-color: transparent !important;
}

.top-color-bar {
    background-color: $accent;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 8px;
    padding: 0;
    z-index: 2;
}

.title-span {
  color: mat-color($photo-app-text);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
  padding-left: 20%;
  font-weight:bold;
}

.toolbar-fill-remaining-space {
  flex: 1 1 auto;
}

.toolbar-nav-buttons {
  padding-left: 25px;
  padding-right: 25px;
  display: inline-block;
}

.mat-elevation-z2 {
   position: relative;
   z-index: 2;
}

.toolbar-content {
  margin: 0 auto;
  width: 50%;
}
