@import "../../styles.scss";

.container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 175px;
  line-height: 175px;
  margin-top: 50px;
  background-color: transparentize(mat-color($photo-app-accent, lighter),0.4);
}
