@import "../../styles.scss";

.footer-container {
  height: 175px;
  margin-top: 50px;
  width: 100%;
  background-color: transparentize(mat-color($photo-app-accent),0.3);
}

.footer-icon {
  margin: 10px;
}

a {
  outline: none;
}
