<div class="footer-container">
<!-- Footer -->
<footer class="page-footer font-small">

    <!-- Footer Elements -->


      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">

            <!-- Facebook -->
            <a class="fb-ic">
              <a href="https://www.facebook.com">
                <mdb-icon fab icon="facebook" size="2x" class="white-text footer-icon"></mdb-icon>
              </a>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
                <a href="https://www.twitter.com">
                   <mdb-icon fab icon="twitter" size="2x" class="white-text footer-icon"></mdb-icon>
                </a>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
                <a href="https://www.google.com">
                    <mdb-icon fab fab icon="google-plus" size="2x" class="white-text footer-icon"></mdb-icon>
                </a>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
                <a href="https://www.linkedin.com">
                  <mdb-icon fab icon="linkedin" size="2x" class="white-text footer-icon"></mdb-icon>
                </a>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
                <a href="https://www.instagram.com">
                   <mdb-icon fab icon="instagram" size="2x" class="white-text footer-icon"></mdb-icon>
                </a>
            </a>
            <!--Pinterest-->
            <a class="pin-ic">
                <a href="https://www.pinterest.com">
                   <mdb-icon fab icon="pinterest" size="2x" class="white-text footer-icon"></mdb-icon>
                </a>
            </a>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->




  </footer>
  <!-- Footer -->
</div>
