<div class="main-container">

<mat-carousel
  timings="1000ms ease-in"
  [autoplay]="true"
  interval="5000"
  color="primary"
  maxWidth="auto"
  proportion="30"
  slides="5"
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="false"
  [useKeyboard]="false"
  [useMouseWheel]="false"
  orientation="ltr"
>
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="slide"
    overlayColor="#00000040"
    [hideOverlay]="true"
    class="slide-text-container">
    <div class="slide-content-box">
      <h3 class="slide-text" *ngIf="i === 0">We do the stuff with our services!</h3>
      <h3 class="slide-text" *ngIf="i === 1">We also do other stuff!</h3>
      <h3 class="slide-text" *ngIf="i === 2">And some more!</h3>
      <h3 class="slide-text" *ngIf="i === 3">Maybe even that kinda stuff!</h3>
      <h3 class="slide-text" *ngIf="i === 4">So what do you think?</h3>
      <div class="slide-button" *ngIf="i === 4" routerLink="/contact"><h3 style="font-weight:bold;">Contact us</h3></div>
    </div>
</mat-carousel-slide>
</mat-carousel>


<mat-card class="card">
  <mat-card-content>
    <h2>Japan and Sweden</h2>
    <!--
    To change the charts go into their directory located in this folder and change the data in the .ts files.

    See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/

    If you want more charts contact me, or follow this quick guide:
    1. In terminal cd to project-name (personal-website-template).
    2. type: ng generate component stats-page/bar-chart-2.
    3. Copy html-content from other chart to bar-chart2.component.html.
    4. The same with the .ts file, but only the content after line 9.
    -->

    <p>
    To change the charts go into their directory located in this folder and change the data in the .ts files.

    See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/

    If you want more charts contact me, or follow this quick guide:
    1. In terminal cd to project-name (personal-website-template).
    2. type: ng generate component stats-page/bar-chart-2.
    3. Copy html-content from other chart to bar-chart2.component.html.
    4. The same with the .ts file, but only the content after line 9.

    To change the charts go into their directory located in this folder and change the data in the .ts files.

    See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/

    If you want more charts contact me, or follow this quick guide:
    1. In terminal cd to project-name (personal-website-template).
    2. type: ng generate component stats-page/bar-chart-2.
    3. Copy html-content from other chart to bar-chart2.component.html.
    4. The same with the .ts file, but only the content after line 9.
    </p>

    <div class="chart-centered">
      <app-bar-chart></app-bar-chart>
    </div>

    <p>
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
    </p>

    <p>
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
    </p>

    <div class="chart-right">
      <app-pie-chart></app-pie-chart>
    </div>

    <p>
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
    </p>

    <p>
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
    </p>

    <p>
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
    </p>

    <p>
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
    </p>

    <p>
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
    </p>

    <p>
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
      To change the charts go into their directory located in this folder and change the data in the .ts files.
      See avalible charts here: https://mdbootstrap.com/docs/angular/advanced/charts/.
    </p>

  </mat-card-content>

</mat-card>








</div>
