@import "../../styles.scss";

.chart-centered {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.chart-right {
  width: 30%;
  float: right;
  clear: right;
  margin: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.card {
//  min-height: 700px;
}
