<div class="carousel-container">
<mdb-carousel [animation]="'slide'">
  <mdb-carousel-item *ngFor="let slide of slides; let i = index">
    <div class="carousel-image-container">
      <img class="d-block w-100 carousel-image" src={{slide}} alt="Slide image">
          <div class="slide-content-box">
            <h3 class="slide-text" *ngIf="i === 0">We do the stuff with our services!</h3>
            <h3 class="slide-text" *ngIf="i === 1">We also do other stuff!</h3>
            <h3 class="slide-text" *ngIf="i === 2">And some more!</h3>
            <h3 class="slide-text" *ngIf="i === 3">Maybe even that kinda stuff!</h3>
            <h3 class="slide-text" *ngIf="i === 4">So what do you think?</h3>
            <div class="slide-button" *ngIf="i === 4" routerLink="/contact"><h3 style="font-weight:bold;">Contact us</h3></div>
          </div>
    </div>
  </mdb-carousel-item>

</mdb-carousel>
</div>



<mat-card class="main-container overlap-up home-card mat-elevation-z0">
  <mat-card-content>
    <div class="card-top-text-container">
      <h1 style="margin-left: 0px;">Our Services</h1>
      <p>
        We focus on giving you the best experience communicating between Sweden and Japan. That's why we offer a
        comprehensive consulting service regarding the issue.
      </p>
      <div style="width: 75%; margin: 0 auto;">
        <mat-divider style="margin-top: 50px;" [inset]="true"></mat-divider>
      </div>
    </div>

    <mat-accordion class="home-accordion">
      <mat-expansion-panel class="home-accordion-panel mat-elevation-z0" [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3 style="margin-left: 0;">
              Service 1
            </h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <h3>
            Sweden has a King
          </h3>
          <p>
            Sweden has a King who is very cool. The King wears a crown and it is beautiful.
            Even more so than the Queen herself. Now I'm writing a long sentence in order to see how it turns out while
            rendering it next to the picture to the right which could indeed be any picture you want it to be, you can
            also change it's size and orientation in the .scss file.
            Because Sweden has a King who is very cool. The King wears a crown and it is beautiful.
          </p>

          <div class="right-aligned-image" style="width: 33%">
            <img class="image-border" src="assets/beach_bridge.jpg" alt="Knugen picture" width="100%">
            <i class="image-caption">
              This is an image of a bridge. It was constructed somwhere between the birth of
              Jesus Christ (our lord and saivour) and today.
            </i>
          </div>

          <p>
            This is a new paragraph with new stuff. This is a new paragraph with new stuff. This is a new paragraph with new stuff.
            This is a new paragraph with new stuff. This is a new paragraph with new stuff. This is a new paragraph with new stuff.
            This is a new paragraph with new stuff. This is a new paragraph with new stuff. This is a new paragraph with new stuff.
            Even more so than the Queen herself. Now I'm writing a long sentence in order to see how it turns out while
            rendering it next to the picture to the right which could indeed be any picture you want it to be, you can
            also change it's size and orientation in the .scss file.
            Because Sweden has a King who is very cool. The King wears a crown and it is beautiful.
            Even more so than the Queen herself. Now I'm writing a long sentence in order to see how it turns out while
            rendering it next to the picture to the right which could indeed be any picture you want it to be, you can
            also change it's size and orientation in the .scss file.
            Because Sweden has a King who is very cool. The King wears a crown and it is beautiful.
          </p>
          <h3>
            You can even have sub-titles!
          </h3>
          <p>
            There are a lot of different titles, for example: h1, h2, h3, h4, h5, h6. They are styled in the main stylesheet called
            styles.scss, located in the src/app/ folder. You can also search the internet for more text html tags.
            There are a lot of different titles, for example: h1, h2, h3, h4, h5, h6. They are styled in the main stylesheet called
            styles.scss, located in the src/app/ folder. You can also search the internet for more text html tags.
            There are a lot of different titles, for example: h1, h2, h3, h4, h5, h6. They are styled in the main stylesheet called
            styles.scss, located in the src/app/ folder. You can also search the internet for more text html tags.
          </p>

          <div class="centered-image" style="width: 50%;">
            <img class="image-border" src="assets/beach_bridge.jpg" alt="Knugen picture" width="100%">
            <i class="image-caption">
              This is an image of a bridge. It was constructed somwhere between the birth of
              Jesus Christ (our lord and saivour) and today.
            </i>
          </div>

          <h4 class="custom-h4">
            This is a custom h4 title for this component
          </h4>

          <p>
            Check src/app/home/home.component.scss for the custom-h4 class to modify it. You can do the same with parahraphs.
            If you set margin-left to 4% for example, you will get in-dented text.
          </p>
          <ul>
            <li>This is a list example.</li>
            <li>The ul-tag stands for unordered list.</li>
            <li>There is also an ol-tag for ordered lists</li>
          </ul>
          <p>
            <span style="font-weight:bold;">
              This is an example of bold text.
            </span>
            Note that you can both style directly in the tag like this example code, or you can
            style properly in the .scss file. In this example we can style directly in the tag since we're only setting the font
            weight to bold, which makes it convinient. You can also set the font weight to other stuff like italics. Google it.
          </p>
        </div>

          <div>
            <p style="margin-left: 4%;">
              If you set margin-left to 4% for example, you will get in-dented text. This can be done either in a stylesheet with
              class, or with an "in-line" style like this example (check style= in the p-tag).
            </p>


             <div class="row centered-image">
              <div class="column">
                <img class="image-border" src="assets/beach_bridge.jpg" alt="Knugen picture" width="100%">
                <i class="image-caption">
                  This is an image of a bridge. It was constructed somwhere between the birth of
                  Jesus Christ (our lord and saivour) and today.
                </i>
              </div>
              <div class="column">
                <img class="image-border" src="assets/beach_bridge.jpg" alt="Knugen picture" width="100%">
                  <i class="image-caption">
                    This is an image of a bridge. It was constructed somwhere between the birth of
                    Jesus Christ (our lord and saivour) and today.
                  </i>
              </div>
              <div class="column">
                <img class="image-border" src="assets/beach_bridge.jpg" alt="Knugen picture" width="100%">
                  <i class="image-caption">
                    This is an image of a bridge. It was constructed somwhere between the birth of
                    Jesus Christ (our lord and saivour) and today.
                  </i>
              </div>
            </div>
          </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="home-accordion-panel mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3 style="margin-left: 0;">
              Service 2
            </h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Text area.</p>

      </mat-expansion-panel>

      <mat-expansion-panel class="home-accordion-panel mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3 style="margin-left: 0;">
              Service 3
            </h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Text area.</p>

      </mat-expansion-panel>

      <mat-expansion-panel class="home-accordion-panel mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3 style="margin-left: 0;">
              Service 4
            </h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Text area.</p>

      </mat-expansion-panel>

    </mat-accordion>


  </mat-card-content>
</mat-card>
