@import "../../styles.scss";

.home-accordion {
  margin: 0 0 0 0;
}

.home-accordion-panel {
  width: 100%;
  margin: 0 auto;
}

.accordion-image {
  float: right;
  clear: right;
  margin-left: 20px;
  margin-bottom: 10px;
  border: solid $accent 1px;
  border-radius: 2px;
  border-width: 2px;
  padding: 4px;
}

.custom-h4 {
  //color: mat-color($photo-app-accent, darker);
  font-family: sans-serif, Helvetica, Arial;
  font-weight: lighter;
  margin-left: 2%;
  font-style: italic;
  //font-size: 150%;
}
