@import "../../styles.scss";

.container {
    width: 80%;
    margin: 0 auto;
}

.slide-content-box {
  background-color: transparentize(black, 0.40);
  padding: 30px;
  position: absolute;
  //width: 150px;
  //bottom: 36%;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.slide-text {
  display: inline;
//  background-color: transparentize($primary, 0.75);
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  padding: 10px;
//  text-shadow: 1px 1px 1px black;
  font-weight:bold;
  color: transparentize($primary, 0.15);
}

.slide-button {
  background-color: transparentize($primary, 0.20);
  border-radius: 2px;
  width: 150px;
  margin: 0 auto;
  cursor: pointer;
  line-height: 40px;
  text-align: center;
}

.home-accordion {
  margin: 0 0 0 0;
}


.home-accordion-panel {
  width: 100%;
  margin: 0 auto;
}

.accordion-image {
  float: right;
  clear: right;
  margin-left: 20px;
  margin-bottom: 10px;
  border: solid $accent 1px;
  border-radius: 2px;
  border-width: 2px;
  padding: 4px;
}

.custom-h4 {
  //color: mat-color($photo-app-accent, darker);
  font-family: sans-serif, Helvetica, Arial;
  font-weight: lighter;
  margin-left: 2%;
  font-style: italic;
  //font-size: 150%;
}
