<div class="main-container">
  <!-- To set custom location: Use this link and copy the url you get in the code after clicking get HTML code -->
  <object class="maps" data="https://maps.google.com/maps?q=lund%20c&t=&z=3&ie=UTF8&iwloc=&output=embed"></object>
  <mat-card class="card">
    <mat-card-content>
      <h3>Hello!</h3>
      <p>
        Content goes here! Content goes here! Content goes here! Content goes here! Content goes here! Content goes here!
        Content goes here! Content goes here! Content goes here! Content goes here! Content goes here! Content goes here!
        Content goes here! Content goes here! Content goes here! Content goes here! Content goes here! Content goes here!
        Content goes here! Content goes here! Content goes here! Content goes here! Content goes here! Content goes here!
        Content goes here! Content goes here! Content goes here! Content goes here! Content goes here! Content goes here!
        Content goes here! Content goes here! Content goes here! Content goes here! Content goes here! Content goes here!
        Content goes here! Content goes here! Content goes here! Content goes here! Content goes here! Content goes here!
        Content goes here! Content goes here! Content goes here! Content goes here! Content goes here! Content goes here!
        Content goes here! Content goes here! Content goes here! Content goes here! Content goes here! Content goes here!
        Content goes here! Content goes here! Content goes here! Content goes here! Content goes here! Content goes here!
      </p>
    </mat-card-content>
  </mat-card>
</div>
